* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(32, 32, 32);
}

.search-box {
    width: 600px;
    background-color: white;
    margin: 200px auto;
    border-radius: 5px;
}

.row {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.input-box {
    flex: 1;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: black;
}

.search-button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    color: black;
}

::placeholder {
    color: rgb(99, 99, 99);
}

.result-box {
    max-height: 300px;
    overflow-y: scroll;
}

.result-box ul {
    border-top: 1px solid black;
    padding: 5px 0;
}

.result-box ul li {
    list-style: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

.result-box ul li:hover {
    background-color: rgb(150, 220, 255);
}
