:root {
    --bg-color: rgb(232, 232, 232);
    --text-color: rgb(16, 16, 16);
}

.darkmode {
    --bg-color: rgb(16, 16, 16);
    --text-color: rgb(232, 232, 232);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--text-color);
}

p {
    margin-top: 10px;
}

button {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    padding: 1rem 3rem;
    color: white;
    background-color: rgb(48, 48, 48);
    border-radius: 4px;
    cursor: pointer;
}

.content {
    text-align: center;
}
